/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://wallpaperplay.com/walls/full/b/3/7/329976.jpg);
    background-repeat: no-repeat;
}
card{
    margin:10px;
}